@font-face {
    font-family: Parastoo;
    src: url('./fonts/Parastoo.eot');
    src: url('./fonts/Parastoo.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Parastoo.woff') format('woff'),
         url('./fonts/Parastoo.ttf') format('truetype');
}

@font-face {
    font-family: ParastooBold;
    src: url('./fonts/Parastoo-Bold.eot');
    src: url('./fonts/Parastoo-Bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Parastoo-Bold.woff') format('woff'),
         url('./fonts/Parastoo-Bold.ttf') format('truetype');
    font-weight: bold;
}

* {
    margin : 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    background-color: #f4f5f7;
    padding : 5px;
}

.positionContainer {
    display: flex;
    /* width: 70%; */
    /* margin: auto; */
    justify-content: space-between;
}

.navbarLeftItem {
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    color : black;
}
.navbarLeftItem :hover {
    color : yellow;
}